nav {
  background-color: rgba(93, 107, 119, 0.47);
  border-radius: 12px;
  backdrop-filter: blur(1px);
  color: rgb(197, 226, 245);
  width: 100%;
  font-family: cursive;
}

.brandLogo {
  margin: 0.2rem;
  border-radius: 10px;
}

.brandName {
  margin: 0.2rem;
  padding: 0 4px 0 4px;
  font-size: larger;
  box-shadow: 0 5px 2px rgb(156, 187, 228);
}
.navLink {
  margin-left: auto;
  border-radius: 10px;
  justify-content: flex-end;
}

.linkElement {
  margin: 0.2rem;
  background-color: rgba(0, 0, 255, 0.224);
  box-shadow: 0 5px 2px rgb(156, 187, 228);
  display: ruby;
}

.linkElement:hover {
  border: 5px;
  box-shadow: -4 5px 12px rgb(156, 187, 228);
}
