table,
th,
td {
  color: rgb(197, 226, 245);
  border: 1px dashed darkcyan;
}
table {
  margin-bottom: 3rem;
}
tr {
  padding: 20px !important;
  border: 2px solid rgba(7, 42, 7, 0.553);
  border-radius: 19px !important;
}
td {
  padding: 0.5rem;
  overflow-wrap: break-word;
  max-width: 40vh !important;
}
th {
  font-size: larger;
  padding: 1rem !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.checkBox {
  width: 130px;
  font-family: "Open Sans", sans-serif;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
}

svg {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
svg rect,
svg path,
svg polyline {
  fill: none;
  stroke: darkcyan;
  stroke-width: 1;
}

.checkBox:hover svg polyline {
  stroke: darkcyan;
}
.checkBox svg {
  margin-left: -10px;
}
.checkBox svg rect,
.checkBox svg polyline {
  fill: none;
  stroke: darkcyan;
  stroke-width: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.checkBox:hover svg rect {
  stroke-width: 2;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.checkBox svg .button {
  stroke-dasharray: 400px, 0;
}

.checkBox:hover svg .button {
  stroke-dasharray: 0, 400px;
  stroke-dashoffset: 10px;
}

.box,
.checkMark {
  opacity: 0;
}
.checkBox:hover .box {
  -webkit-animation: boxDisplay 0.2s forwards;
  -moz-animation: boxDisplay 0.2s forwards;
  -ms-animation: boxDisplay 0.2s forwards;
  -o-animation: boxDisplay 0.2s forwards;
  animation: boxDisplay 0.2s forwards;
  -webkit-animation-delay: 0.65s;
  -moz-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
.checkBox:hover .checkMark {
  -webkit-animation: checkDisplay 0.2s forwards;
  -moz-animation: checkDisplay 0.2s forwards;
  -ms-animation: checkDisplay 0.2s forwards;
  -o-animation: checkDisplay 0.2s forwards;
  animation: checkDisplay 0.2s forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
/* Check Box Display */
@-webkit-keyframes boxDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes boxDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes boxDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes boxDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes boxDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Check Mark Display */
@-webkit-keyframes checkDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes checkDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes checkDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes checkDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes checkDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CheckBox size change */
input[type="checkbox"] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 5px;
}
